@use '../../../shared/styles/helpers/function.scss' as *;

.advert {
	margin-top: rem(100);
	flex-direction: column;
	position: relative;
	z-index: 1;
	&_name {
		color: #000;
		font-family: 'Unbounded';
		font-size: rem(50);
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: rem(55);
	}
	&_slider {
		width: rem(530);
		height: rem(390);
		margin-right: rem(90);
	}
	&_image {
		width: rem(530);
		height: rem(390);
	}
	&_price {
		margin-bottom: rem(50);
		color: #000;
		font-family: 'Unbounded';
		font-size: rem(25);
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		margin-top: rem(95);
	}
	&_button {
		border-radius: rem(8);
		background: #ffbf00;
		border-color: transparent;
		width: rem(230);
		height: rem(50);
		color: #fff;
		font-family: 'Unbounded';
		font-size: rem(15);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-bottom: rem(70);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	&_owner {
		color: #000;
		font-family: 'Unbounded';
		font-size: rem(20);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-right: rem(100);
	}
	&_type {
		color: #000;
		font-family: 'Unbounded';
		font-size: rem(30);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-top: rem(90);
	}
	&_sale {
		color: #000;
		font-family: 'Unbounded';
		font-size: rem(17);
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin-top: rem(20);
	}
	&_main {
		display: flex;
		justify-content: center;
		flex-direction: row;
		&_info {
			flex-direction: column;
			display: flex;
			align-items: center;
			&_owner {
				display: flex;
				flex-direction: row;
			}
		}
	}
	&_info {
		display: flex;
		flex-direction: column;
	}
}

.swiper-pagination-bullet {
	background-color: rgba(255, 191, 0, 1) !important;
}
.swiper-pagination-bullet-active {
	background: rgba(255, 191, 0, 1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
	color: rgba(255, 191, 0, 1);
}

.ends {
	margin-bottom: rem(40);
}

.notFound {
	font-family: 'Unbounded';
	display: flex;
	justify-content: center;
	position: relative;
	top: rem(120);
}
