@use '../../../shared/styles/helpers/function.scss' as *;

.root-notif {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: rem(10);
	gap: rem(10);
}
.block-notif {
	display: flex;
	border: none;
	border-radius: rem(8);
	align-items: center;
	background-color: #ffbf00;
	padding: rem(20);
	flex-direction: column;
}
.all-iongo {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.info-notif {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: rem(20);
}
.info-img {
	width: rem(120);
	height: rem(120);
	border-radius: rem(6);
	border: none;
}
.info-init-tool {
	margin-left: rem(10);
	display: flex;
	flex-direction: column;
	gap: rem(10);
}
.info-tool {
	display: flex;
	flex-direction: row;
	gap: rem(10);
}
.info-p-tool {
	font-family: 'Unbounded';
	color: white;
   text-align: center;
}
.req-info {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	align-items: center;
}
.info-acc {
	display: flex;
	flex-direction: column;
	gap: rem(20);
	margin-left: rem(20);
}
.info-acc-but {
	align-self: center;
	border: none;
	border-radius: rem(7);
	background: green;
	width: rem(50);
	display: flex;
	align-items: center;
	justify-content: center;
	height: rem(50);
}
.sitx {
	background-color: red !important;
}
.border-nah {
	border: none;
	background: transparent;
}
.p-green {
	color: green !important;
}
.p-red {
	color: red !important;
}
.sendRating {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: rem(25);
}
.stars {
	display: flex;
	gap: rem(10);
	align-items: center;
	flex-direction: row;
}
.sendbuttonratting {
	border: none;
	background-color: #fff;
	padding: rem(15);
	border-radius: rem(7);
}
.inputRatingsend {
	border: none;
	border-radius: rem(6);
	padding: rem(14);
}
.star {
	border: none;
	background: transparent;
	padding: rem(10);
}
.starsvg {
	width: rem(30);
}
.okstars {
	background-color: #ffffff;
	border-radius: rem(10);
	padding: rem(10);
}
.otziv-h2{
   color: #fff;
   font-family: 'Unbounded';
   margin-bottom: rem(20);
}
.toggle-notif{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-top: rem(50);
	margin-bottom: rem(30);
}
.button-toogle-notif{
	border: none;
	font-family: 'Unbounded';
	font-size: rem(20);
	text-decoration: underline;
	background-color: transparent;
}
.notif-root{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}